<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Repositories</h2>
  <div class="panel-group" id="accordion">
    {{ range $i, $repo := .Data.Repos }}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ $i }}">{{ $repo.Name }}</a>&nbsp<strong>({{ $repo.Status }})</strong>
        </h4>
      </div>
      <div id="collapse{{ $i }}" class="panel-collapse collapse in">
        <div class="panel-body"><pre>{{ $repo.Terminal }}</pre></div>
      </div>
    </div>
    {{ end }}
  </div> 
</div>
    
</body>
</html>